<div class="col-md-8 offset-md-2 mr-auto ml-auto">
    <div class="card">
        <div class="card-header">
            <strong class="card-title mb-3">負責人資料</strong>
        </div>
        <div class="card-body">
            <div class="mx-auto d-block">
                <img class="rounded-circle mx-auto d-block" src="https://photocdn.sohu.com/kis/fengmian/1038/1038629/1038629_ver_big.jpg" alt="Card image cap">
                <div class="location text-sm-center">
                    <h3>{{ user_profile.name }}</h3>
                    <br>
                    <p>工號: {{ user_profile.gongHao }}</p>
                    <br>
                    <p>公司: {{ user_profile.company }}</p>
                    <br>
                    <p>(No Infomation)</p>
                    <br>
                    <h5><span>聯絡號碼: </span><a href="tel:{{ user_profile.contact_num }}">{{ user_profile.contact_num }}</a></h5>
                    <br>
                    <h5><span>Email： </span><a href="mailto:{{ user_profile.email }}">{{ user_profile.email }}</a></h5>
                    <br>
                    <p>LineID : {{ user_profile.line_username }}</p>
                    <br>
                    <p>緊急聯繫人 : {{ user_profile.emergency_contact}}</p>
                    <br>
                </div>
                <div class='col-md-6 offset-md-3'>
                    <a href= "{% url 'my_profile_update' %}" class='btn btn-warning btn-lg btn-block'>更改負責人資料</a>
                </div>
            </div>
            <hr>
            
            <div class="card-text text-sm-center">
                <a href="#">
                    <i class="fa fa-facebook pr-1"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter pr-1"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin pr-1"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest pr-1"></i>
                </a>
            </div>
        </div>
    </div>
</div>-->

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600">{{ user_profile.name }}</h6>
                                <p>{{ user_profile.gongHao }}</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">資料</h6>
                                <div class="row"> 
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">電子郵件</p>
                                        <h6 class="text-muted f-w-400"><a href="mailto:{{ user_profile.email }}">{{ user_profile.email }}</a></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">聯絡號碼</p>
                                        <h6 class="text-muted f-w-400">{{ user_profile.contact_num }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Line ID</p>
                                        <h6 class="text-muted f-w-400">{{ user_profile.line_username }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">公司</p>
                                        <h6 class="text-muted f-w-400">{{ user_profile.company }}</p></h6>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
