{% load static%}
<html>
    <head>
        <meta charset="utf-8">
        <title>PDF alertlist</title>
        <!-- Bootstrap CSS-->
        <link href="{%static 'template4/vendor/bootstrap-4.1/bootstrap.min.css'%}" rel="stylesheet" media="all">
        <style>
            body { font-family: STSong-Light }
        </style>
    </head>
    <body>
        <h1>Table alert list</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                            <tr><td></td></tr>
                            <tr> <td><hr></td> <td><hr></td> </tr>
                            <tr><td></td></tr>
                            {% for x in yolodata%}
                            <tr>
                                <td>{{x.id}}</td>
                                {% if x.alert != 0 and image_yolofiles|seraching_image:x.id != 'None'%}
                                <td rowspan="4">
                                    <img height="300px" width="450px" src="{{image_yolofiles|seraching_image:x.id}}" />
                                </td>
                                {% elif x.alert != 0 %}
                                <td rowspan="4">
                                    Image not upload yet
                                </td>
                                {% else %}
                                <td rowspan="4">
                                    No danger found in the image
                                </td>
                                {% endif %}
                                
                            </tr>
                            <tr>
                                <td>{{x.created_at|date:"Y年 m月 d日 "}} {{x.created_at|time:"(H:i)"}}</td>
                            </tr>
                            <tr>
                                <td>{{x.title}}</td>
                            </tr>
                            <tr>
                                <td>{{ alert_choice|return_item:x.alert}}</td>
                            </tr>
                            <tr><td></td></tr>
                            <tr> <td><hr></td> <td><hr></td> </tr>
                            <tr><td></td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>