{% load static %}
<!-- MENU SIDEBAR2... css line 2122-->
<aside class="menu-sidebar2">
    <div class="logo">
        <a href="{% url 'home' %}">
           <!-- <h1>工地檢查系統</h1> -->
            <img src="{%static 'template4/images/icon/logo.png'%}" alt="Cool Admin" />
            </a>
    </div>
    
    <div class="menu-sidebar2__content js-scrollbar1">

        <!-- Account profile -->
        <div class="account2">
            <div class="image img-cir img-120">
                <img src="{%static 'template4/images/icon/no_profile.jpg'%}" alt="John Doe" />
            </div>
            <h4 class="name">{{ user_profile.name}}</h4>
            <a href="{% url 'logout'%}">Sign out</a>
        </div>
        <!-- END of Account profile -->

        <!-- Navbar Desktop -->
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                
                <li>
                    <a id = "header_table_one" data-toggle="modal" data-target="#smallmodalprofile" href="#smallmodalprofile">
                        <i class="zmdi zmdi-settings"></i>Profile</a>
                </li>
                <li>
                    <a id = "header_table_two" data-toggle="modal" data-target="#scrollmodaleditprofile" href="#scrollmodaleditprofile"> <!-- must include href, still dont know for sure why -->
                        <i class="zmdi zmdi-account"></i>Edit Profile</a>
                </li>
                <li>
                    <a id = "header_table_three" data-toggle="modal" data-target="#scrollmodallineid" href="#scrollmodallineid">
                        <i class="fab fa-line"></i>Line Account</a>
                </li>

                <!-- <li>
                    <a class="data-reload" href = "#CN" data-reload> CHINESE </a>
                </li> -->
                <!--
                <li>
                    <a class="nav-link collapsed" href = "#ENG" data-reload> ENGLISH </a>
                </li>
            -->




            </ul>
        </nav>
        <!-- END of Navbar -->
    </div>
</aside>
<!-- END MENU SIDEBAR-->

<!-- HEADER MOBILE-->
<div class="page-wrapper-mobile-desktopsize page-wrapper p-md-b-80">
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="{% url 'home' %}">
                        <h1>工地檢查系統</h1>
                        <!--<img src="{%static 'template4/images/icon/logo.png'%}" alt="CoolAdmin" />
                        -->
                        </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">

                    <li>
                        <a data-toggle="modal" data-target="#smallmodalprofile" href="#smallmodalprofile">
                            <i class="zmdi zmdi-account"></i>Profile</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#scrollmodaleditprofile" href="#scrollmodaleditprofile">
                            <i class="zmdi zmdi-settings"></i>Edit Profile</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#scrollmodallineid" href="#scrollmodallineid">
                            <i class="fab fa-line"></i>Line Account</a>
                    </li>
                    <li>
                        <a class="data-reload" href = "#CN" data-reload> CHINESE </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<!-- END HEADER MOBILE-->

<!-- PAGE CONTAINER-->
<div class="page-container2">
    <!-- modal small profile -->
			<div class="modal fade" id="smallmodalprofile" tabindex="-1" role="dialog" aria-labelledby="smallmodalprofile" aria-hidden="true">
				<div class="modal-dialog modal-md" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="smallmodalLabel">Profile Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="card">
                                <div class="card-header">
                                    <i class="fa fa-user"></i>
                                    <strong class="card-title pl-2">Profile Card</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <img class="rounded-circle mx-auto d-block img-120" src="{%static 'template4/images/icon/no_profile.jpg'%}" alt="Card image cap">
                                        <h5 class="text-center mt-2 mb-1">{{ user_profile.name }}</h5>
                                        <div class="location text-center">
                                            <i class="fas fa-building"></i> {{ user_profile.company }}
                                        </div>
                                        <div class="location text-center">
                                            <i class="fas fa-tag"></i> {{ user_profile.gongHao }}
                                        </div>
                                        <div class="location text-center">
                                            <i class="fa fa-envelope"></i> {{ user_profile.email }}
                                        </div>
                                        <div class="location text-center">
                                            <i class="fa fa-phone"></i> {{ user_profile.contact_num }}
                                        </div>

                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal small -->


            <!-- modal scroll form -->
			<div class="modal fade" id="scrollmodaleditprofile" tabindex="-1" role="dialog" aria-labelledby="scrollmodaleditprofile" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="scrollmodalLabel">Edit User Data</h5>
						</div>
                        <!-- ID and NAME need to be check one by one so that can be more specified-->
						<div class="modal-body">

                            <div class="login-form">
                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">Username:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <p class="form-control-static">{{username}}</p>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label for="text-input" class=" form-control-label">名稱:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            {{profile_form.name}}
                                            <!--<input type="text" id="text-input" name="text-input" placeholder="Name" class="form-control" value="James"> -->
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">公司:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <p class="form-control-static">{{user_profile.company}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="row form-group">
                                        <div class="col col-md-3">
                                            <label class=" form-control-label">公號:</label>
                                        </div>
                                        <div class="col-12 col-md-9">
                                            <p class="form-control-static">{{user_profile.gongHao}}</p>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            {{profile_form.email}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            {{profile_form.contact_num}}
                                        </div>
                                    </div>
                            </div>
							
                            
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-secondary">Cancel</button>
							<button type="submit" class="btn btn-primary" name="saveprofile">更新</button>
						</div>
					</div>
				</div>
			</div>
			<!-- end modal scroll -->

            <!-- modal scroll line id-->
			<div class="modal fade" id="scrollmodallineid" tabindex="-1" role="dialog" aria-labelledby="scrollmodallineid" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="scrollmodalLabel">Line Account</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<div class="modal-body">
							<!-- start from here -->
                            {% if new_password %}
                            {% csrf_token %}
                            <h3 class="text-center">掃描QR code更換Line ID</h3>
                            <img class="mx-auto d-block img-120" src="http://chart.apis.google.com/chart?cht=qr&choe=UTF-8&chs=200x200&chl=https://line.me/R/oaMessage/{{line_channel_id}}/@{{ user_profile.gongHao }}@{{ new_password }}">
                            <h4 class="text-center">或</h4>
                            <br>
                            <div class="col-6 offset-lg-4 offset-md-3 mx-auto">
                                <a class="btn btn-outline-primary d-block" href="https://line.me/R/oaMessage/{{line_channel_id}}/@{{ user_profile.gongHao }}@{{ new_password }}" role="button">點這裡更換Line ID</a>
                            </div>
                            {% else %}
                            <h3 class="text-center">現在的Line ID： {{ user_profile.line_username }}</h3>
                            <br>
                            <div class="col-6 offset-lg-4 offset-md-3 mx-auto">
                                <a class="btn btn-outline-primary btn-lg d-block" href="{%url 'lineid_change'%}" role="button">更換Line ID</a>
                            </div>
                            {% endif %}
                            
						</div>
						
					</div>
				</div>
			</div>
			<!-- end modal scroll -->
</div>
