{% extends 'template4/base.html' %}
{% load static %}
{% block title %} Homepage {% endblock %}

{% block content %}
<!-- PAGE CONTAINER-->
<div class="page-container2">

    <!-- STATISTIC line-->
    <section class="statistic">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item"> 
                            
                            <h2 class="number">{{daily_alerts}}</h2>
                            <span id = "type_one" class="desc">今日警報</span>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item ">
                            <h2 class="number">{{weekly_alerts}}</h2>
                            <span id = "type_two" class="desc">本週警報</span>
                            <!--
                            <div class="icon">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="statistic__item">
                            <h2 class="number">{{monthly_alerts}}</h2>
                            <span id = "type_three" class="desc">本月警報</span>
                            <!--
                            <div class="icon">
                                <i class="zmdi zmdi-calendar-note"></i>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <!-- so.. 0 is connected-->
                        <div class="statistic__item">
                            <h2 class="number">{{available_camera_on_count}} / {{available_camera_off_count}}</h2>
                            <span id = "type_four" class="desc">可用的裝置</span>
                            <!--
                            <div class="icon">
                                <i class="zmdi zmdi-money"></i>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->

    <!-- Table -->
    <section>
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive table--no-card table-data m-b-30">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th id="table_one">創建日期</th>
                                        <th id="table_two" >ID</th>
                                        <th id="table_three" class="text-right">標題</th>
                                        <th id="table_four" class="text-right">狀態</th>
                                        <th id="table_five" class="text-right">詳情</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for x in yolodata %}
                                        <tr>
                                            <td>{{x.created_at|date:"Y年 m月 d日 "}} {{x.created_at|time:"(H:i)"}}</td>
                                            <td>{{x.id}}</td>
                                            <td class="text-right">{{x.title}}</td>
                                            <td class="text-right">{{ alert_choice|return_item:x.alert}}</td>
                                            <td class="text-right">
                                                {% if x.alert == 0 %} <!-- For safe alert (green)-->
                                                    <button type="button" class="btn btn-outline-success mb-1" onclick="details_desc('{{x.id}}')" data-toggle="modal" data-target="#scrollmodaldetails" >
                                                        詳情
                                                    </button>
                                                {% else %} <!-- For danger alert (red)-->
                                                    <button type="button" class="btn btn-outline-danger mb-1" onclick="details_desc('{{x.id}}')" data-toggle="modal" data-target="#scrollmodaldetails" >
                                                        詳情
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <div class="user-data__footer">
                                                <a id ="button_id" class="btn au-btn au-btn-load" href="{% url 'seemorealert' %}">查看更多</a>
                                            </div>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End of Table -->


    
    <!-- modal scroll details-->
    <div class="modal fade" id="scrollmodaldetails" tabindex="-1" role="dialog" aria-labelledby="scrollmodaldetails" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scrollmodalLabel">詳情</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="detailsdescription" class="card">
                        <!-- details desc content placed -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- end modal scroll -->

</div>

<!-- Scripts -->



<script>
    const details_id=document.getElementById("detailsdescription");
    yolodata = JSON.parse("{{datafor_js|escapejs}}");
    //yolodata1 = JSON.parse("{{datafor_js1|escapejs}}");


    function details_desc(id){
        for (let x in yolodata){
            if (yolodata[x][1]==id && yolodata[x][3] !='無危險行為'){
                details_id.innerHTML = '<img class="card-img-top" src='+yolodata[x][4]+'>\
                    <div class="card-body">\
                    <h4 class="card-title mb-3">'+ yolodata[x][2]+'</h4>\
                    <p class="card-text">'+ yolodata[x][1]+'</p>\
                    <p class="card-text">'+ yolodata[x][0]+'</p>\
                    <p class="card-text">'+ yolodata[x][3]+'</p>\
                    </div>';
            }
            else if(yolodata[x][1]==id){
                details_id.innerHTML = '<div class="card-body">\
                    <h4 class="card-title mb-3">'+ yolodata[x][2]+'</h4>\
                    <p class="card-text">'+ yolodata[x][1]+'</p>\
                    <p class="card-text">'+ yolodata[x][0]+'</p>\
                    <p class="card-text">'+ yolodata[x][3]+'</p>\
                    </div>';
            }
        }
    }
</script>
{% endblock %}