{% extends 'template4/base.html' %}
{% load static %}
{% block title %} Homepage {% endblock %}

{% block content %}
<div class="page-container2">
    <div class="card">
        <!-- details desc content placed -->
        {% if obj_yolofiles %}
            {% if obj_yolofiles.image.url != '' %}
            <img class="card-img-top" src='{{ obj_yolofiles.image.url }}'>
            {%else %}
            <img class="card-img-top" src="{%static 'template4/images/image-not-found.png'%}">
            {%endif%}
        <div class="card-body">
            <h3 class="card-title mb-3">ID: {{ obj_yolo.id }}</h3>
            <p class="card-text">標題: {{ obj_yolo.title }}</p>
            <p class="card-text">警報: {{ obj_yolo.get_alert_display }}</p>
            <p class="card-text">描述: {{ obj_yolo.description }}</p>
            <p class="card-text">日期: {{ obj_yolo.timestamp }}</p>
        </div>
        {%else%}
        <div class="card-body">
            <h3 class="card-title mb-3">No data available on our database with ID : {{id}}</h3>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock %}
